{{rs-header title="Reservations"}}

<div class="content">
    <ul class="list-group" style="display: flex; flex-direction: column;">
        {{#each model as |reservation|}}
            <li class="list-group-item">{{reservation.classroom}}</li>
        {{/each}}
    </ul>
</div>