<div class="content">
    <div class="service__edit-mode">
        <div class="service__edit-mode--card">
            {{rs-service-form item=model action='saveIssue' title="Edit issue" label="Save issue"}}
        </div>
    </div>
</div>